{% extends 'base.html' %}
{% load static %}

<!DOCTYPE HTML>
<html>
  <head>
    <title>Call for Proposal</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="assets/css/main.css" />
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
  </head>
  <body>


      {% block header %}
       <header id="header">
            <h1>Scipy India 2016</h1>
            <h2>Reset Password</h2>
</header> 
{% endblock %}

<div id="wrapper">

{% block nav %}

          <nav id="nav" class="alt">
            <ul>
              <li><a href="{% url 'website:home' %}" class="active">Scip India 2016</a></li>
              
              {%   if user and not user.is_anonymous %}
               <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.get_full_name|default:user.username }}<b class="caret"></b></a>
               <ul class="dropdown-menu">
                   <li><a href="{% url 'auth:logout' %}?next=/2016/cfp">Logout</a></li>
          
               </ul>           
           {% endif %}
            </ul>
          </nav>
{% endblock %}



{% block content %}
<div id="wrapper">
<div id="main">
<section id="content" class="main">
    {% if validlink %}
    <br>
   <p>Please enter your new password twice.
           So we can verify you typed it in correctly.</p>
           <br>
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1" >New password:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2" >Confirm password:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><br> <button class= "btn btn-sm btn-primary" type="submit" onclick="return checkform(this);">Submit</button> 
                </tr>
                <br>
            </table>
        </form>
    {% else %}
        <h1>Password reset unsuccessful</h1>
        <p>The password reset link was invalid, <br />
        possibly because it has already been used. <br />
        Please request a new password reset.</p>
    {% endif %}
</section>
</div>
</div>

<script>
function checkform(form) { 
    // alert("in");
    var pwd1 = document.getElementById("id_new_password1");
    // alert(pwd1.value);
    var pwd2 = document.getElementById("id_new_password2");
    //return false;
    if(pwd1.value.length && pwd2.value.length < 8) { 
     
        alert("Error: Password must contain at least eight characters!"); 
        pwd1.focus();     
        pwd1.value = "";
        pwd2.value = "";
        return false;      
    }   
}

</script>
{% endblock %}
