{% extends 'base.html' %}
{% load static %}

<!DOCTYPE HTML>
<html>
	<head>
		<title>{{ user.get_full_name|default:user.username }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>


		
      {% block header %}
       <header id="header1">
						<h1>SciPy India 2016</h1>
						<h2>Abstract Details</h2>
</header> 
{% endblock %}



<div id="wrapper">
{% block nav %}
<div id="wrapper">
<div id="navbar-main"> 
  <!-- Fixed navbar -->
  <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
         <li><a href="{% url 'website:home' %}" class="active">Home</a></li> 
          <li><a href="{% url 'website:view_abstracts' %}" class="active">View Proposals</a></li>        
       
               {% if user and not user.is_anonymous %}
               <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.get_full_name|default:user.username }}</a>
               <ul class="dropdown-menu">
                   <li><a href="{% url 'auth:logout'%}?next=/2016/cfp">Logout</a></li>
                   <li><a href="{% url 'website:cfp'%}">Main Menu</a></li>
               </ul>   
               {% else %}       
                <li><a href="{% url 'website:cfp' %}" >Login</a></li>
           {% endif %}
        </ul>
      </div>
      <!--/.nav-collapse --> 
  </div>
</div>
{% endblock %}


{% block content %}
			<div id="wrapper">
			<div id="main">
			<section id="content" class="main">
				<h3>{{ proposal.user.first_name }} {{ proposal.user.last_name }}</h3>
			<p><b>Title: </b>&nbsp;{{ proposal.title }}</p>
     		<p><b>About Me: </b>&nbsp;{{ proposal.about_me }}</p>
        	<p><b>Abstract: </b>&nbsp;{{ proposal.abstract }}</p>
        	{% if proposal.prerequisite %}
        		<p><b>Prerequisite: </b>&nbsp;{{ proposal.prerequisite }}</p>
        	{% endif%}
            <p><b>Date Created: </b>&nbsp;{{ proposal.date_created }}</p>       
          {% if proposal.attachment.url %}
           <p><b>Attachment: </b>&nbsp;
           <a href="{{ proposal.attachment.url }}" class="btn btn-info" target="_blank">{{proposal.attachment}}</a></p>
           {% endif %}
           <b>Rate:  </b></b>&nbsp;{{proposal.rate}} /10
        <p><b>Comments: </b>
          <hr>
        {% for comment in comments %}
            <div>
                <strong>Comment By:</strong>
                {{ comment.user.first_name }} {{ comment.user.last_name }}
                <p>{{ comment.comment|safe }}</p>
            </div>
            <hr>
        {% endfor %}
						 
							</section>

					</div>
      
   
{% endblock %}
					
		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

<script>
$(document).ready(function() {
    var n1 = Math.round(Math.random() * 10 + 1);
    var n2 = Math.round(Math.random() * 10 + 1);
    $("#a").val(n1 + " + " + n2 + " = ");
    $("#c").click(function() {
        if (eval($("#a").val()) == $("#b").val()) {
        } else {
            alert("Write the correct value ");
        }
    });
});
</script>
	</body>
</html>