{% extends 'base.html' %}
{% load static %}

<!DOCTYPE HTML>
<html>
	<head>
		<title>Call for Proposal</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body>


      {% block header %}
       <header id="header">
						<h1>Scipy India 2016</h1>
						<h2>Call For Proposal</h2>
</header> 
{% endblock %}

<div id="wrapper">

{% block nav %}

					<nav id="nav" class="alt">
            <ul>
              <li><a href="{% url 'website:home' %}" class="active">Scip India 2016</a></li>
              
              {%   if user and not user.is_anonymous %}
               <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.get_full_name|default:user.username }}<b class="caret"></b></a>
               <ul class="dropdown-menu">
                   <li><a href="{% url 'auth:logout' %}?next=/2016/cfp">Logout</a></li>
          
               </ul>           
           {% endif %}
            </ul>
          </nav>
{% endblock %}


{% block content %}
			<div id="wrapper">
<div id="main">
<section id="content" class="main">
 {% if user and not user.is_anonymous and not login_required %}
                  <h2><u>Main Menu</u></h2>
                <a href="{% url 'website:submitcfp' %}" class="btn btn btn-primary">Submit an Abstract</a>
                 <br><a href="{% url 'website:submitcfw' %}" class="btn btn btn-primary">Submit a Workshop Proposal</a>
                 <br>
                <a href="{% url 'website:view_abstracts' %}" class="btn btn btn-primary">View Proposals</a>
    {% else %}
                 <h2><u>Login</u></h2>

                <p>Login/Register to Submit a Proposal</p>
                {% if invalid %}
                  <center>
                        <p>Invalid Username/Password</p>
                  </center>
                {% endif %}
                
                  <div id = "my_form">
                    <form action="" method="POST">
                        {{ form.as_p }}
                        <br>
                        <button class="button" type="submit">Login</button><br><br>
                        <a style="padding-right : 20px;" href="{% url 'website:userregister' %}" class="btn btn btn-primary">Create an Account</a>
                        <a  href="/forgotpassword/">Forgot Password?</a>
                        {% csrf_token %}
                    </form>
                    </div>
                    <br>
      {% endif %}
  		
					

				<!-- Main -->
					
								
								<h2><u>Proposal Guidelines</u></h2>
            <ul>
                <li>The project you are willing to present should be an actual implementation rather than just an idea.
                <li>Abstract should be of 300 to 700 words describing the topic, including its relevance to scientific computing.
                <li>Proposals with an aim to promote a commercial product or service will be rejected.
                <li>In your abstract mention about various tools/libraries used for development.
                <li>Notification for selection/rejection of your proposal will be given through email.
                <li>All selected proposals must be presented at the conference by at least one author.
            </ul>
          			  <h2><u>Important Dates</u></h2>
			<ul>
                <li>CFP Open: July 5, 2015
                <li>CFP Close: November 24, 2015
                <li>Announcement of selected proposals: December 1, 2015
            </ul>
							</section>

					</div>

{% endblock %}
					
		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>