{% extends 'base.html' %}
{% load static %}

<!DOCTYPE HTML>

<html>
	<head>
		<title>{{ user.get_full_name|default:user.username }}</title>
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body>


		
      {% block header %}
       <header id="header1">
						<h1>Scipy India 2016</h1>
						<h2>Abstract Details</h2>
</header> 
{% endblock %}

{% block nav %}
<div id="wrapper">
<div id="navbar-main"> 
  <!-- Fixed navbar -->
  <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
         <li><a href="{% url 'website:home' %}" class="active">Home</a></li>        
               {% if user and not user.is_anonymous %}
               <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.get_full_name|default:user.username }}</a>
               <ul class="dropdown-menu">
                   <li><a href="{% url 'auth:logout' %}?next=/2016/cfp">Logout</a></li>
                   <li><a href="{% url 'website:cfp' %}">Main Menu</a></li>
               </ul>   
               {% else %}       
                <li><a href="{% url 'website:cfp' %}" >Login</a></li>
           {% endif %}
        </ul>
      </div>
      <!--/.nav-collapse --> 
  </div>
</div>
{% endblock %}


{% block content %}
			<div id="wrapper">
			<div id="main">
			<section id="content" class="main">
				<h3>{{ proposal.user.first_name }} {{ proposal.user.last_name }}</h3>
			<p><b>Title: </b>&nbsp;{{ proposal.title }}</p>
     		<p><b>About Me: </b>&nbsp;{{ proposal.about_me }}</p>
        	<p><b>Abstract: </b>&nbsp;{{ proposal.abstract }}</p>
        	{% if proposal.prerequisite %}
        		<p><b>Prerequisite: </b>&nbsp;{{ proposal.prerequisite }}</p>
        	{% endif%}
          {% if proposal.attachment.url %}
           <a href="{{ proposal.attachment.url }}" class="btn btn-info" target="_blank">Attachment</a>
           {% endif %}
   		    <p><b>Date Created: </b>&nbsp;{{ proposal.date_created }}</p>  
   		    <hr> 
          <form action="{% url 'website:status' proposal.id %}" method='POST'>{% csrf_token %}

    <input type="submit" value="Accept" name="accept"/>
    <input type="submit" value="Reject" name="reject"/>

     </form>
        <hr>
        <h4>Comments</h4>
        {% for comment in comments %}
            <div>
                <strong>Comment By:</strong>
                {{ comment.user.first_name }} {{ comment.user.last_name }}
                <p>{{ comment.comment|safe }}</p>   
               <!--   <a href="#">Edit</a>
                <a href="#">Delete</a> -->
            </div>
            <hr>
        {% endfor %}
        <form action="{% url 'website:comment_abstract' proposal.id %}" method='POST' enctype="multipart/form-data">
            {% csrf_token %}
            <textarea rows="5" cols="100" id="comment" class= "comment" name="comment" placeholder = "Add commnet here..."></textarea><br>
            <button type="submit" class="button">Comment</button>

        </form>

		</section> 
		</div>

{% endblock %}
					
		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>


<script>
isFormHtml5Valid(form) {
  for(var el of form.querySelectorAll('input,textarea,select')){
    if(!el.checkValidity())
      return false;
  }
  return true;
}

mySubmitButton.onclick = function() {
  if(this.form && isFormHtml5Valid(this.form))
    this.disabled=true;
  this.form.submit();
}</script>



<script>
$(function(){

}
)
</script>

</body>
</html>