{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

<!DOCTYPE HTML>

<html>
  <head>
    <title>View Proposals</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="assets/css/main.css" />
  </head>
  <body>


    
      {% block header %}
       <header id="header1">
            <h1>SciPy India 2016</h1>
            <h2>View Proposals</h2>
</header> 
{% endblock %}


<div id="wrapper">
{% block nav %}

<div id="navbar-main"> 
  <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
         <li><a href="{% url 'website:home' %}" class="active">Home</a></li>        
               {% if user and not user.is_anonymous %}
               <li><a href="{% url 'website:cfp' %}">{{ user.get_full_name|default:user.username }}</a>
                <li><a href="{% url 'auth:logout' %}?next=/2016/cfp">Logout</a></li>
               {% else %}       
                <li><a href="{% url 'website:cfp' %}" >Login</a></li>
           {% endif %}
        </ul>
      </div>
  </div>
</div>
{% endblock %}


{% block content %}
      <div id="wrapper">
<div id="main">
<section id="content" class="main">
                {% if not proposals %}
                <center>
You have not submitted any proposal. To submit proposal click <a href="{% url 'website:cfp' %}">here </a></center>
{% else %}


   <form action="{% url 'website:status_change' %}" method="post" onsubmit="return confirm('Sure?');"> {% csrf_token %}


    <table id = "myTable"  class="tablesorter">
          <colgroup>
                {% if user.is_superuser  %}
        <col width="10%" />
        <col width="30%" />
        <col width="20%" />
        <col width="60%" />
        <!-- <col width="10%" /> -->
        <col width="10%" />
        <col width="10%" />
        <col width="20%" />
        {% else %}
        <col width="20%" />
        <col width="70%" />
        <col width="10%" />
        <col width="10%" />
        <col width="10%" />
        <col width="20%" />

        {% endif %}
    </colgroup>
     {% if user.is_superuser  %}
    <th> <center>Select
           
    <th>Speaker
      {% endif %}
    <th> Type
    <th> Title
      {% if not user.is_superuser %}
    <th> View
      {% endif %}
    <th> Comments
    <th> Status
    {% for proposal in proposals %}
    <tr>
        {% if user.is_superuser  %}
      <td><center> <input type = "checkbox" name="delete_proposal" value = {{proposal.id}}></input></center></td>
          
        <td>
            {{ proposal.user.get_full_name}}
        </td>
        {% endif %}
        <td> {{proposal.proposal_type }} </td>
       
      {% if user.is_superuser  %}
        <td ><a href="{% url 'website:comment_abstract' proposal.id %}">{{proposal.title }}</a> </td>
      {% else %}
       <td  style="white-space: nowrap; text-overflow:ellipsis; overflow: hidden; max-width:.5px;"> {{proposal.title}}</td>
         <td ><a href="{% url 'website:abstract_details' proposal.id %}">View</a> </td>
      {% endif %}
      <td><center> {{ proposal.comments_set.count }} </center></td>

      <td>
         {% if proposal.status = 'Accepted' %}
         <h5 style="color:green;">{{proposal.status}}</h5>
         {% elif proposal.status = 'Rejected' %}
          <h5 style="color:red;">{{proposal.status}}</h5>
           {% elif proposal.status = 'Commented' %}
          <h5 style="color:brown;">{{proposal.status}}</h5>
          {% elif proposal.status = 'Resubmit' %}
            {% if user.is_superuser %}
              <h5 style="color:grey;">{{proposal.status}}</h5>
            {% else %}
               <a href="{% url 'website:edit_proposal' proposal.id %}">{{proposal.status}}</a>  
            {% endif %}
          {% else %}  
          <h5 style="color:blue;">{{proposal.status}}</h5>
         {% endif %}

       </td>
    </tr>
    {% endfor %}
    </table>
    {% if user.is_superuser  %}
    <center><input type="submit" id="delete" class ="button special" style="background:#D44727;" value="Delete" name="delete"/>
    <input type="submit" id="dump" class ="button special" style="background:#D44727;" value="Dump" name="dump"/></center><br>
    <center>
    <input type="submit" id="accept" class ="button special" style="background:green;" value="Accept" name="accept"/>
    <input type="submit" id="rejected" class ="button special" style="background:red;" value="Reject" name="reject"/>
     <input type="submit" id="resubmit" class ="button special" style="background:grey;" value="Resubmit" name="resubmit"/></center>
   
    {% endif %}
                  </form>
                  {% endif %}

          
              </section>

          </div>

           

{% endblock   %}
          
    <!-- Scripts -->
      <script src="assets/js/jquery.min.js"></script>
      <script src="assets/js/jquery.scrollex.min.js"></script>
      <script src="assets/js/jquery.scrolly.min.js"></script>
      <script src="assets/js/skel.min.js"></script>
      <script src="assets/js/util.js"></script>
      <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
      <script src="assets/js/main.js"></script>


<script>
$(document).ready(function() {
    var n1 = Math.round(Math.random() * 10 + 1);
    var n2 = Math.round(Math.random() * 10 + 1);
    $("#a").val(n1 + " + " + n2 + " = ");
    $("#c").click(function() {
        if (eval($("#a").val()) == $("#b").val()) {
        } else {
            alert("Write the correct value ");
        }
    });
});
</script>
</body>
</html>