{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

<!DOCTYPE HTML>

<html>
  <head>
    <title>View Proposals</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="assets/css/main.css" />
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
  </head>
  <body>


    
      {% block header %}
       <header id="header1">
            <h1>SciPy India 2016</h1>
            <h2>View Proposals</h2>
</header> 
{% endblock %}


<div id="wrapper">
{% block nav %}
         <div id="navbar-main"> 
  <!-- Fixed navbar -->
  <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
         <li><a href="{% url 'website:home' %}" class="active">Home</a></li>        
               {% if user and not user.is_anonymous %}
               <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.get_full_name|default:user.username }}</a>
               <ul class="dropdown-menu">
                   <li><a href="{% url 'auth:logout' %}?next=/2016/cfp">Logout</a></li>
                   <li><a href="{% url 'website:cfp' %}">Main Menu</a></li>
               </ul>   
               {% else %}       
                <li><a href="{% url 'website:cfp' %}" >Login</a></li>
           {% endif %}
        </ul>
      </div>
      <!--/.nav-collapse --> 
  </div>
</div>
{% endblock %}


{% block content %}
      <div id="wrapper">
<div id="main">
<section id="content" class="main">
                {% if not proposals %}
                <center>
You have not submitted any proposal. To submit proposal click <a href="{% url 'website:cfp' %}">here </a></center>
{% else %}

   <form action="{% url 'website:delete' %}" method="post" onsubmit="return confirm('Sure?');"> {% csrf_token %}
    <table class="table">
          <colgroup>
                {% if user.is_superuser  %}
        <col width="10%" />
        <col width="30%" />
        <col width="20%" />
        <col width="60%" />
        <!-- <col width="10%" /> -->
        <col width="10%" />
        <col width="10%" />
        <col width="20%" />
        {% else %}
        <col width="20%" />
        <col width="70%" />
        <col width="10%" />
        <col width="10%" />
        <col width="10%" />
        <col width="20%" />

        {% endif %}
    </colgroup>
     {% if user.is_superuser  %}
    <th> <center>Select
           
    <th>Speaker
      {% endif %}
    <th> Type
    <th> Title
      {% if not user.is_superuser %}
    <th> View
      {% endif %}
    <th> Comments
    <th> Rate
    <th> Status
    {% for proposal in proposals %}
    <tr>
        {% if user.is_superuser  %}
      <td><center> <input type = "checkbox" name="delete_proposal" value = {{proposal.id}}></input></center></td>
          
        <td>
            {{ proposal.user.get_full_name}}
        </td>
        {% endif %}
        <td> {{proposal.proposal_type }} </td>
       
      {% if user.is_superuser  %}
        <td ><a href="{% url 'website:comment_abstract' proposal.id %}">{{proposal.title }}</a> </td>
      {% else %}
       <td  style="white-space: nowrap; text-overflow:ellipsis; overflow: hidden; max-width:.5px;"> {{proposal.title}}</td>
         <td ><a href="{% url 'website:abstract_details' proposal.id %}">View</a> </td>
      {% endif %}
      <td><center> {{ proposal.comments_set.count }} </center></td>
            <td><center> {{ proposal.rate }} </center></td>

      <td>
         {% if proposal.status = 'Accepted' %}
         <h5 style="color:green;">{{proposal.status}}</h5>
         {% elif proposal.status = 'Rejected' %}
          <h5 style="color:red;">{{proposal.status}}</h5>
           {% elif proposal.status = 'Commented' %}
          <h5 style="color:brown;">{{proposal.status}}</h5>
          {% elif proposal.status = 'Resubmit' %}
          <h5 style="color:grey;">{{proposal.status}}</h5>
          {% else %}
          <h5 style="color:blue;">{{proposal.status}}</h5>
         {% endif %}

       </td>
    </tr>
    {% endfor %}
    </table>
    {% if user.is_superuser  %}
    <center><input type="submit" id="delete" class ="button special" style="background:#D44727;" value="Delete" name="delete"/>
    <input type="submit" id="dump" class ="button special" style="background:#D44727;" value="Dump" name="dump"/></center>
   
    {% endif %}
                  </form>
                  {% endif %}

          
              </section>

          </div>

           
     <!-- <footer id="footer">
            <section id="contact">
              <h2>Write to Us</h2>
              <p>Feel free to send us an email if you have any questions.</p>
              <form id="contact" action="" class="form" role="form" method=POST enctype="multipart/form-data">{% csrf_token %}
                    <div class="col-md-6 form-group">
                      <input class="form-control" id="name" name="name" placeholder="Name" type="text" required />
                    </div>
                    <div class="col-md-6 form-group">
                      <input class="form-control" id="email" name="email" placeholder="Email" type="email" required />
                    </div>
                    <br><br>
                    <textarea class="form-control" id="message" name="message" placeholder="Message" rows="5"></textarea>
                  <br>
                  <div class = "col-md-3">
                  <input class="form-control" style="color:black;" readonly type="text" id="a" />
                  </div>
                  <div class = "col-md-3">
              <input placeholder = "Answer" class="form-control" type="text" id="b"/>
              </div>
              <div class = "col-md-3">
              <button class="button" id = "c" type="submit">Send Message</button>
              </div>
            </section>
            <section>
              <h2>Contact Us</h2>
              <dl class="alt">
                <dt>Address</dt>
                <dd>1234 Somewhere Road &bull; Nashville, TN 00000 &bull; USA</dd>
                <dt>Phone</dt>
                <dd>(000) 000-0000 x 0000</dd>
                <dt>Email</dt>
                <dd><a style="color:white;" href="#">information@untitled.tld</a></dd>
              </dl>
              <ul class="icons">
                <li><a style="color:white;" href="#" class="icon-twitter alt"><span class="label"></span></a></li>
                <li><a style="color:white;" href="#" class="icon-facebook alt"><span class="label"></span></a></li>
                <li><a style="color:white;" href="#" class="icon-instagram alt"><span class="label"></span></a></li>
                <li><a style="color:white;" href="#" class="icon-github alt"><span class="label"></span></a></li>
                <li><a style="color:white;" href="#" class="icon-dribbble alt"><span class="label"></span></a></li>
              </ul>
              Visit SciPy.in/ <a style="color:white;" href="">2009</a>/
              <a style="color:white;" href="">2010</a>/
              <a style="color:white;" href="">2011</a>/
              <a style="color:white;" href="">2012</a>/
              <a style="color:white;" href="">2013</a>/
              <a style="color:white;" href="">2014</a>/
              <a style="color:white;" href="">2015</a>
            </section>
          </footer> -->

{% endblock   %}
          
    <!-- Scripts -->
      <script src="assets/js/jquery.min.js"></script>
      <script src="assets/js/jquery.scrollex.min.js"></script>
      <script src="assets/js/jquery.scrolly.min.js"></script>
      <script src="assets/js/skel.min.js"></script>
      <script src="assets/js/util.js"></script>
      <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
      <script src="assets/js/main.js"></script>


<script>
$(document).ready(function() {
    var n1 = Math.round(Math.random() * 10 + 1);
    var n2 = Math.round(Math.random() * 10 + 1);
    $("#a").val(n1 + " + " + n2 + " = ");
    $("#c").click(function() {
        if (eval($("#a").val()) == $("#b").val()) {
        } else {
            alert("Write the correct value ");
        }
    });
});
</script>
</body>
</html>